ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.section-footer{
    height: 350px;
    display: flex;
    gap: 368px;
    background: #EBCD17;
    justify-content: space-between;
    }
    .logotype-footer{
    width: 210px;
    height: 45px;
    margin-top: 80px;
    /* margin-left: 113px; */
    }
    .list-team{
        margin-top: 60px;
    }
    .list-team li{
        margin-top: 27px;
    }
    .information-team{
    width: 60px;
    height: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding-top: 27px;
    color: #000000;
    }
    .tel-address-team{
        margin-top: 80px;
    }
    address>p{
    width: 220px;
    height: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    }