.section5 {
    background-color: black;
    /* height: 700px; */
    height: 100vh;
}

.map{
    width: 1160px;
    height: 465px;
    margin-left: calc(50% - 580px);
}

.content1-section5 p{
    /* margin-left: 11%; */
}

.content2-section5{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 5%;
    /* margin-left: 3%; */
}


.button-section5 {
    background-color: #6648A2;
    width: 450px;
    height: 50px;
    color: #EBCD17;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    margin-left: 10%;
    font-weight: 700;
    text-align: center;
}

.button-section5:hover {
    background-color: #503880;
    color: #bba61b;
    cursor: pointer;
}

.button-section5:active {
    background-color: #48356e;
    color: #a8961e;
}