/* one section */
.one-section{
overflow-x: hidden;
height: calc(100vh - 90px);
display: flex;
justify-content: space-between;
align-items: center;
gap: 94px;
background-image: url(../assets/background-image1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: bottom;
/* background-size: 100%; */
}
.one-section-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding-top: 164px;
    padding-left: 144px; */
}
/*-------- styles for title and text --------*/
.name{
width: 600px;
height: 177px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 59px;
color: #FFFFFF;
}
.name-text{
width: 580px;
height: 48px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
padding-top: 18px;
color: #FFFFFF;
}
/*--------- button styling --------*/
.button-register{
width: 295px;
height: 62px;
background: #6648A2;
border-radius: 3px;
border: none;
margin-top: 62px;
}
.button-register:hover {
    background-color: #503880;
    
    color: rgb(185, 185, 185);

    cursor: pointer;
}
.button-register:active {
    background-color: #48356e;
    color: rgb(161, 161, 161);
}
[class="button-register"]>span{
width: 186px;
height: 24px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
}
/*---- photo styling----- */
.foto-one{
    width: 417px;
    height: 418px;
    filter: drop-shadow(0px 0px 70px #D7C2FF);
    border-radius: 300px;
    /* margin-top: 140px; */
    margin-right: 150px;
}
/* styling of the information section */
.information-results{
    /* height: 336px; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 220px;
    max-height: 360px;
    height: 35vh;
    background: #000000;
    margin-bottom: -1px;
    }
    .results-inf{
        display: flex;
        justify-content: center;
        gap: 184px;
        /* padding-left: 275px; */
        /* padding-top: 106px; */
        position: relative;
    }
    .results>h3{
    height: 49px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    /* text-align: right; */
    /* padding-right: 50px; */
    color: #EBCD17;
    }
    .results>p{
    width: 205px;
    height: 55px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-top: 16px;
    color: #FFFFFF;
    }
/* ----style cards---- */
.section-cards{
    height: 700px;
    background: #000000;
    }
    .name-expectation{
    /* width: 604px; */
    text-align: center;
    height: 49px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    margin: 0 auto;
    padding: 50px 0 60px 0;
    color: #FFFFFF;
    }
    .name-expectation span{
        width: 604px;
    height: 49px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
        color: #EBCD17;
    }
    .cards{
        display: flex;
        justify-content: center;
        gap:45px;
        /* margin-left: 176px; */
        margin-top: 60px;
        position: relative;
    }
    .cards li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-photo{
        width: 315px;
        height: 369px;
        border-radius: 10px;
        }
    .expectation{
    /* width: 315px; */
    height: 55px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 10px;
    color: #FFFFFF;
    }



    @media (max-width : 1670px) {
        .foto-one {
            margin-right: 0;
        }
    }
    @media (max-width : 1380px) {
        .foto-one{
            width: 380px;
            height: 380px;
            filter: drop-shadow(0px 0px 45px #D7C2FF);
        }
        .one-section {
            gap: 50px;
        }
        .card-photo {
            width: 265px;
            height: 329px;
        }
    }
    @media (max-width : 1275px) {
        .foto-one{
            width: 330px;
            height: 330px;
        }
        .name {
            width: 500px;
            font-size: 42px;
            line-height: 52px;
        }
        .name-text {
            width: 480px;
        }
        .results-inf{
            gap: 130px;
        }
    }
    @media (max-width : 1075px) {
        .foto-one{
            width: 290px;
            height: 290px;
            filter: drop-shadow(0px 0px 35px #D7C2FF);
        }
        .name {
            width: 470px;
            font-size: 38px;
            line-height: 46px;
        }
        .name-text {
            width: 450px;
        }
        .results-inf{
            gap: 80px;
        }
        .card-photo {
            width: 225px;
            height: 289px;
        }
        .name-expectation {
            font-size: 36px;
        }
    }
    @media (max-width : 980px) {
        .button-register {
            width: 280px;
            height: 55px;
            margin-top: 45px;
        }
        .name {
            height: 145px;
        }
        .card-photo {
            width: 215px;
            height: 279px;
        }
        .results-inf{
            gap: 60px;
        }
    }
    @media (max-width : 900px) {
        .name-expectation {
            font-size: 32px;
        }
        .card-photo {
            width: 180px;
            height: 244px;
        }
        .cards {
            gap: 36px;
        }
        .middle-result {
            position: absolute;
            top: -40px;
        }
        .results-inf{
            gap: 160px;
        }
        .one-section {
            justify-content: center;
        }
    }
    @media (max-width : 820px) {
        .name {
            width: 430px;
            height: 125px;
            font-size: 36px;
            line-height: 42px;
        }
        .name-text {
            width: 410px;
        }
        .button-register {
            width: 275px;
            height: 52px;
            margin-top: 57px;
        }
    }
    @media (max-width : 760px) {
        .card-photo {
            width: 170px;
            height: 225px;
        }
        .cards {
            gap: 0;
        }
        .card-photo1 {
            position: absolute;
            top: -20px;
            left: 100px;
        }
        .card-photo2 {
            position: absolute;
            top: 80px;
            right: 90px;
            bottom: -400px;
        }
        .card-photo3 {
            position: absolute;
            top: 270px;
            left: 120px;
            bottom: -600px;
        }
        .one-section {
            gap: 30px;
        }
    }
    @media (max-width : 700px) {
        .foto-one {
            display: none;
        }
        .one-section {
            justify-content: center;
        }
        .name-expectation {
            font-size: 28px;
        }
        .card-photo1 {
            position: absolute;
            top: -20px;
            left: 80px;
        }
        .card-photo2 {
            position: absolute;
            top: 80px;
            right: 65px;
            bottom: -400px;
        }
        .card-photo3 {
            position: absolute;
            top: 270px;
            left: 100px;
            bottom: -600px;
        }
        .results-inf p {
            width: 185px;
            font-size: 16px;
            padding: 0;
        }
        .results-inf h3 {
            width: 185px;
            font-size: 35px;
        }
        .results-inf{
            gap: 120px;
        }
    }
    @media (max-width : 650px) {
        .card-photo1 {
            position: absolute;
            top: -20px;
            left: 60px;
        }
        .card-photo2 {
            position: absolute;
            top: 80px;
            right: 45px;
            bottom: -400px;
        }
        .card-photo3 {
            position: absolute;
            top: 270px;
            left: 80px;
            bottom: -600px;
        }
        .name-expectation {
            font-size: 24px;
        }
    }
    @media (max-width : 610px) {
        .card-photo1 {
            position: absolute;
            top: -20px;
            left: 40px;
        }
        .card-photo2 {
            position: absolute;
            top: 80px;
            right: 25px;
            bottom: -400px;
        }
        .card-photo3 {
            position: absolute;
            top: 270px;
            left: 60px;
            bottom: -600px;
        }
    }
    @media (max-width : 570px) {
        .name {
            height: 100px;
            font-size: 32px;
            line-height: 36px;
        }
        .name-text {
            font-size: 16px;
        }
        .button-register {
            width: 275px;
            height: 52px;
            margin-top: 57px;
        }
        .name-expectation span {
            font-size: 28px;
        }
        .button-register span {
            font-size: 16px;
        }
        .card-photo1 {
            position: absolute;
            top: -20px;
            left: 20px;
        }
        .card-photo2 {
            position: absolute;
            top: 80px;
            right: 5px;
            bottom: -400px;
        }
        .card-photo3 {
            position: absolute;
            top: 270px;
            left: 40px;
            bottom: -600px;
        }
        .results-inf{
            gap: 40px;
        }
        .results p {
            width: 200px;
        }
        .middle-result {
            position: absolute;
            top: -80px;
        }
        .middle-result p {
            width: 185px;
        }
        .information-results {
            align-items: flex-end;
            padding-bottom: 20px;
        }
    }
    @media (max-width : 530px) {
        .name {
            height: 100px;
            font-size: 26px;
            line-height: 32px;
        }
        .button-register {
            width: 260px;
            height: 48px;
            margin-top: 58px;
        }
        .name-expectation {
            padding: 30px 0 30px 0;
            font-size: 18px;
        }
        .name-expectation span {
            font-size: 20px;
        }
        .results-inf h3 {
            font-size: 30px;
        }
        .results p {
            font-size: 14px;
        }
        .cards p {
            font-size: 14px;
        }
    }
    @media (max-width : 470px) {
        .name {
            height: 100px;
            width: 340px;
            font-size: 24px;
            line-height: 30px;
        }
        .name-text {
            width: 350px;
            padding-top: 5px;
        }
        .results-inf{
            gap: 10px;
        }
        .middle-result {
        position: initial;
    }
    .results-inf {
        flex-direction: column;
        gap: 0;
    }
    .results-inf .middle-result p {
        width: 200px;
        height: 40px;
    }
    .results-inf h3 {
        width: 200px;
        height: 40px;
    }
    .information-results {
        height: 320px;
    }
    .card-photo1 {
        position: initial;
    }
    .card-photo2 {
        position: initial;
    }
    .card-photo3 {
        position: initial;
    }
    .cards {
        flex-direction: column;
        margin-top: 30px;
    }
    .cards p {
        margin-top: 5px;
    }
    .section-cards {
        height: auto;
    }
    .card-photo {
        width: 140px;
        height: 195px;
    }
    }
    
    