.section5 {
    background-color: black;
    /* height: 700px; */
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: -1px;
}

.map{
    max-width: 1160px;
    max-height: 465px;
    margin-left: calc(50% - 580px);
}

.content1-section5 p{
    /* margin-left: 11%; */
}

.content2-section5{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 5%;
    /* margin-left: 3%; */
}


.button-section5 {
    background-color: #6648A2;
    width: 450px;
    height: 50px;
    color: #EBCD17;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    margin-left: 10%;
    font-weight: 700;
    text-align: center;
}

.button-section5:hover {
    background-color: #503880;
    color: #bba61b;
    cursor: pointer;
}

.button-section5:active {
    background-color: #48356e;
    color: #a8961e;
}

@media (max-width : 1300px) {
    .map{
        width: 1000px;
        height: 365px;
        margin-left: calc(50% - 500px);
    }
}
@media (max-width : 1100px) {
    .map{
        width: 750px;
        height: 265px;
        margin-left: calc(50% - 375px);
    }
}
@media (max-width : 700px) {
    .content2-section5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .button-section5 {
        margin: 0;
        margin-top: 25px;
    }
}