.section2 {
    height: 80vh;
    margin-top: -1px;
    margin-bottom: -1px;
    background-color: black;
    /* display: flex; */
    /* align-items: center; */
    overflow: hidden;
    padding-top: calc(40vh - 210px);
}

.content-section2 p {
    color: #fff;
    font-size: 20px;
    margin: 5%;
    font-family: 'Montserrat';
}

.title-section2 {
    font-size: 40px !important;
}

.img1-section2 {
    width: 499px;
    height: 420px;
    border-radius: 10px;;
}

.img2-section2 {
    width: 200px;
    height: 242px;
    margin-top: 10%;
    display: none;
}

.content1-section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8% ;
    position: relative;
    /* overflow: hidden; */
}
.content-section2-div {
    display: flex;
    align-items: center;
}

.content-section2{
    margin-left: 5%;
    margin-top: 5%;
}

@media (max-width : 1500px) {
    .img1-section2 {
        width: 470px;
        height: 390px;
    }
    .img2-section2 {
        position: absolute;
        right: -100px;
    }
}
@media (max-width : 1300px) {
    .img2-section2 {
        top: 350px;
        right: -120px;
    }
}
@media (max-width : 1060px) {
    .img1-section2 {
        width: 420px;
        height: 340px;
    }
}
@media (max-width : 900px) {
    .content1-section2 {
        display: flex;
        flex-direction: column;
    }
    .section2 {
        height: auto;
    }
    .content-section2 {
        margin: 0;
        text-align: center;
        margin-top: 10px;
    }
    .content-section2 p {
        margin: 0;
    }
}