.section2 {
    height: 80vh;
    background-color: black;
    margin-top: -10%;
    /* display: flex; */
    /* align-items: center; */
}

.content-section2 p {
    color: #fff;
    font-size: 20px;
    margin: 5%;
    font-family: 'Montserrat';
}

.title-section2 {
    font-size: 40px !important;
}

.img1-section2 {
    width: 499px;
    height: 420px;
    border-radius: 10px;;
}

.img2-section2 {
    width: 200px;
    height: 242px;
    margin-top: 10%;
}

.content1-section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8% ;
    padding-top: calc(40vh - 210px);
    position: relative;
}
.content-section2-div {
    display: flex;
    align-items: center;
}

.content-section2{
    margin-left: 5%;
    margin-top: 5%;
}

@media (max-width : 1500px) {
    .img1-section2 {
        width: 470px;
        height: 390px;
    }
    .img2-section2 {
        position: absolute;
        right: -100px;
    }
}
@media (max-width : 1300px) {
    .img2-section2 {
        right: -100px;
    }
}