*,
*::after,
*::before {
    box-sizing: border-box;

    font-size: 20px;

    margin: 0;
    padding: 0;
}

.container {
    padding: 0 170px 0 170px;
    max-width: 3000px;
}

.qw {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.qw :last-child :last-child {
    margin-left: 60px;
}

header {
    display: flex;
    align-items: center;
    /* padding: 4%; */
    background-color: #000000;
    height: 90px;
}

.general-links {
    display: flex;
    align-items: center;
}

.general-links a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    margin-right: 72px;
}

.general-links :last-child {
    margin-right: 0;
}

.general-links a:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.general-links a:active {
    color: rgb(206, 206, 206);
}


.header-button {
    background-color: #6648A2;

    width: 150px;
    height: 50px;

    color: #EBCD17;
    font-size: 14px;

    border: none;
    border-radius: 3px
}

.header-button:hover {
    background-color: #503880;
    
    color: #bba61b;

    cursor: pointer;
}

.header-button:active {
    background-color: #48356e;
    color: #a8961e;
}

.logo {
    margin-right: 115px;
}
.logo img {
    max-width: 208px;
    max-height: 45px;
}




@media (min-width : 2000px) {
    .container {
        padding: 0 270px 0 270px;
    }
}
@media (max-width : 1720px) {
    .container {
        padding: 0 130px 0 130px;
    }
}
@media (max-width : 1530px) {
    .container {
        padding: 0 110px 0 110px;
    }
}
@media (max-width : 1380px) {
    .logo {
        margin-right: 80px;
    }
}
@media (max-width : 1275px) {
    .logo {
        margin-right: 65px;
    }
    .general-links a {
        margin-right: 55px;
    }
}
@media (max-width : 1170px) {
    .container {
        padding: 0 80px 0 80px;
    }
}
@media (max-width : 1075px) {
    .logo {
        margin-right: 45px;
    }
    .general-links a {
        margin-right: 35px;
    }
    .qw :last-child :last-child {
        margin-left: 35px;
    }
    .header-button {
        width: 140px;
        height: 40px;
    }
}
@media (max-width : 1000px) {
    .container {
        padding: 0 70px 0 70px;
    }
    .logo {
        margin-right: 35px;
    }
    .general-links a {
        margin-right: 25px;
    }
    .qw :last-child :last-child {
        margin-left: 25px;
    }
    .header-button {
        width: 130px;
        height: 35px;
    }
}
@media (max-width : 900px) {
    .container {
        padding: 0 60px 0 60px;
    }
    .logo img {
        max-width: 198px;
        max-height: 35px;
    }
    .logo {
        margin-right: 30px;
    }
    .general-links a {
        margin-right: 20px;
    }
    .qw :last-child :last-child {
        margin-left: 20px;
    }
}
@media (max-width : 820px) {
    .qw :last-child :last-child {
        display: none;
    }
}
@media (max-width : 650px) {
    .header-button {
        display: none;
    }
    .qw {
        justify-content: flex-end;
    }
}
@media (max-width : 570px) {
    header {
        height: 60px;
    }
}
@media (max-width : 530px) {
    .container {
        padding: 0 30px 0 30px;
    }
}
@media (max-width : 470px) {
    .container {
        padding: 0 15px 0 15px;
    }
}
